* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    padding-top: 10px;
    border: 1px solid red;
    width: 800px;
    height: 800px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
