.task-item {
    border: 1px solid var(--line-color);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 10px;

    .ant-form-item {
        margin: 0;
    }
}

#title {
    background-color: white;
}

#title:disabled {
    border: none;

    color: black;
}

.task-item {
    .through {
        text-decoration: line-through;
    }
}

@media (width < 470px) {
    .task-item {
        flex-direction: column;
    }
}
