.task-item {
    flex-wrap: nowrap;
    .ant-form-item-control-input-content input {
        background-color: white;
    }

    .ant-form-item-control-input-content input:disabled {
        color: black;
        background-color: #abbbe7;
    }

    .through {
        text-decoration: line-through;
    }
}
