.tasks-info {
  display: flex;

  &__item.active {
    background-color: #6e828c;
  }


  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    background-color: #5c9fc5;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
  }
}