.tasks-form {
  position: relative;
  margin: 30px 0;

 .main-input {
   width: 300px;
   height: 35px;
   padding: 10px;
   border: none;
   border-bottom: 2px solid black;
   background-color: inherit;
   font-size: 20px;
 }
  .inputs-container {
    display: flex;
    flex-direction: column;
  }

  .additional-input{
    margin: 10px 0 ;
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: inherit;
    font-size: 15px;



  }

  .tasks-form__btn{
    background-color: #5c9fc5;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
  }
}