.ant-layout-sider {
    border: var(--border);

    .logo {
        border-bottom: var(--border);
        height: 63px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .trigger-btn {
        position: absolute;
        padding: 25px 10px;
        bottom: 10px;
        right: 10px;
        border: none;

        svg{
            width: 30px;
            height: 30px;
        }
        
    }
}
